<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>

/* reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*variables*/
:root{
    --primary: #4452fe; 
    --first-text: #000;
    --Gray: #5c5c5c;
    --dark-bg: #181818;
    --secondary-bg: #1e1e1e;
    --white: #fff;
    --light-text: #fff;

/*fuentes*/

--fonts: 'poppins', sans-serif;
--light:400;
--meduim: 500;
--bold: 700;
}

body{
    background: var(--dark-bg);
    color: var(--light-text);
    font-family: var(--fonts);
    max-width: 100%;
    overflow-x: hidden;
    /*width: 100%;*/
}

a{
    color: var(--light-text);
    text-decoration: none;
    
}

/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 90px;
}
.menu{
    display: flex;
    padding: 15px 5px;
    order: 3;
    width: 100%;
    list-style: none;
    flex-direction: column;
    gap: 30px;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 75px;
    background-color: var(--dark-bg);
    left: 0;

}

.menu li{
    border-bottom: 1px solid var(--white);
    
}




.btn-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-login{
    border: 1px solid var(--white);
    padding: 0.8rem 2.5rem;
    border-radius: 10px;
}
.show{
    /*transform: translateX(0);*/
}

/*Section 1: hero*/
.hero{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    gap:1.5rem;
    padding: 2rem;
}
.hero-bg{
    max-width: 100%;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:20px;
    max-width: 100%;
}
.hero-text h1{
    font-weight: var(--light);
    font-size: 2.1rem;
}
.btn{
    background-color: var(--primary);
    color: var(--light-text);
    font-weight: 500;
    font-size: 1rem;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}


/*seccion 2*/

.product{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 3rem 2rem;
    /*background-color: #4452fe;*/
}

.product-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.product-text h2{
    font-weight: var(--meduim);
    font-size: 2.1rem;
}

.product-img{
    width: 100%;
}

.product-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.product-card-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.product-card{
    display: flex;
    flex-direction: column;
}

.card-titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/*Section about*/
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 3rem 0;
}

.about-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.about-text h2{
    font-weight: var(--light);
    font-size: 2rem;
}

.about-card-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:20px;
    
}

.about-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    color: var(--first-text);
    max-width: 330px;
    border-radius: 10px;
    text-align: center;
    padding: 3rem 2rem;
}

.about-card:first-child{
    gap: 10px;
    margin: 0 ;
     padding-top: 1.1rem;
    
}

.about-card:first-child button{
    margin: 2px 0px 12px;

}

.about-card:first-child p{
    margin: 0px 0px 10px;
}

.about-card:first-child h3{
    margin: 0px 0px 12px;
}


.about-card:last-child{
   /* padding: 3rem 2rem 1rem;*/
    gap: 5px;
    padding: 3rem 1rem;

}
.about-card:last-child p{
    margin: 2px 15px 20px;
}

.about-card:last-child h3{
    margin: 20px 5px 10px;
}

.about-card:last-child img{
    padding: 0rem;
    padding-top: 0;
}

/*Section: Testimonios*/

.testimonios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 3rem 0;
}

.testimonios h2{
    font-weight: var(--meduim);
    font-size: 2rem;
}

.testimonial-cards-container{
    display: flex;
    flex-direction: column;
    gap:40px
}

.testimonial-card{
    border: 1px solid var(--Gray);
    border-radius: 10px;
    padding: 2rem ;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.testimonial-title{
    display: flex;
    align-items: center;
    gap: 10px
}

/*CTA*/

.cta{
    padding: 4rem 0;
    background-color: var(--secondary-bg);
}

.cta-card-container{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    text-align: center;
}

.cta-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.cta-title h2{
    font-size: 2rem;
    font-weight: var(--light);
}

.cta-card-container img{
    display: none;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 20px;
    padding: 3rem 0;
    margin: 0 auto;
}
    

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

.redes-nav{
    display: flex;
    gap: 20px;
}
* {
    outline: 1px solid red !important;
}
/*Media menu*/

@media (min-width: 1000px) {
    .btn-menu{
        display: none;
    }

    .menu {
        transform: translateX(0);
        flex-direction: row;
        order: 0;
        width: fit-content;
        position: static;

    }

    .menu li{
        border: none;
    }

    .menu li a{
        transition: all 0.3s ease;
        display: inline-block;
        
    }

    .menu  li a:hover{
        color: var(--primary);
        transform: scale(1.2);
    }

    .btn-login{
        transition: all 0.3s ease;
    }
    .btn-login:hover{
        background-color: var(--primary);
        border: var(--primary);
    }
    
    /*Section1: Hero*/

    .hero{
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        gap: 40px;
        align-items: center;
    }
     
    .hero-bg {
        width: 100%;          /* La imagen ocupa el total de su contenedor (los 1200px) 🖼️ */
        height: auto;         /* Mantiene la proporción original 📐 */
    }
    .hero-text{
        max-width: 700px;
        gap: 40px;
    }

    .hero-text h1{
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .hero-text p{
        max-width: 600px;
        margin: 0 auto;
    font-size: 1.2rem;

    }

    /*section 2:product*/

    /*.product{
        max-width: 1000px;
    }

    .product-img{
        max-width: 60%;
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
        padding: 40px 0;
    }

    .product-text p{
        max-width: 600px;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    
    }

    .product-img-container{
        flex-direction: row;
        align-items: center ;
        justify-content: center;
    }

    .product-card p{
        max-width: 60%;
        justify-content: center;
        align-items: center;
        

    }
    .card-titulo{
        gap: 10;
        
    }
    .product-card-container{
        gap: 10px;
        padding: 0;
    }*/

    .product{
        max-width: 1200px;
        min-height: 100vh;
        align-items: center;
        /*background-color: #4452fe;*/

    }


    .product-img-container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 40px 10px 0 0;
    }

    .product-card-container{
        /*background-color: #5c5c5c;*/
        margin-top: -120px;
       
    }

    /*about*/
    .about-card-container{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .about-card:first-child h3{
        transform: translateY(-20px);
    }

    .about-card:first-child p{
        transform: translateY(-10px);
    }

    .about-card:last-child button{
        transform: translateY(-5px);
    }

        .about-card:last-child img{
        transform: translateY(-15px);
    }

    /*Testimonios*/
    .testimonial-cards-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1000px;
    }
    /*section cta*/
    .cta-card-container{
        background-color: #343434;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        max-width: 1000px;
        margin: 0 auto;
        border-radius: 30px;
        padding: 1rem;

    }

    .cta-card-container img{
        display: block;
    }

    .cta-title{
        align-items: flex-start;
    }

    /*footer*/

    footer{
        flex-direction: row;
        gap: 50px;
        align-items: flex-start;

    }
    .direccion{
        padding: 20px 0;
    }
}
